<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Acr.UserDialogs" version="5.3.0" targetFramework="portable45-net45+win8" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="portable45-net45+win8" />
  <package id="Refractored.MvvmHelpers" version="1.0.1" targetFramework="portable45-net45+win8" />
  <package id="Splat" version="1.6.2" targetFramework="portable45-net45+win8" />
</packages>