<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.xamarin.sample.devdaystasks">
	<uses-sdk android:minSdkVersion="19" android:targetSdkVersion="23" />
	<application android:label="Dev Days Tasks" android:theme="@style/MyTheme" android:icon="@drawable/icon"></application>
</manifest>