<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/f882877f-3947-4227-814b-9e6e652baed3/resourceGroups/minnickspeakers/providers/Microsoft.Web/sites/DevDaysSpeakers-Functions</ResourceId>
    <SiteUrlToLaunchAfterPublish>https://devdaysspeakers-functions.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>devdaysspeakers-functions.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>DevDaysSpeakers-Functions</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$DevDaysSpeakers-Functions</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>