<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/a153760c-f2ae-4a22-9d02-2e87cf7ca361/resourceGroups/DevDaysSpeakers/providers/Microsoft.Web/sites/MinnickDevDaysSpeakersFunctions</ResourceId>
    <SiteUrlToLaunchAfterPublish>https://minnickdevdaysspeakersfunctions.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>minnickdevdaysspeakersfunctions.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MinnickDevDaysSpeakersFunctions</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$MinnickDevDaysSpeakersFunctions</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>